[submodule "library/ubinos"]
	path = library/ubinos
	url = https://github.com/ubinos/ubinos.git
[submodule "library/exprjlib"]
	path = library/exprjlib
	url = https://github.com/ubinos/exprjlib.git
[submodule "library/exprjapp"]
	path = library/exprjapp
	url = https://github.com/ubinos/exprjapp.git
[submodule "library/exprjlibapp"]
	path = library/exprjlibapp
	url = https://github.com/ubinos/exprjlibapp.git
